body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:azure;
    margin:0;
    text-align: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 3, 3);
    border-radius: 50px;
    margin:space-evenly;
}

.pokemonInfo {
    display: flex;
    justify-content:center;
    align-content: center;
    width: 100vw;
}

.column1, .column2{
    background-color: azure;
    color:black;
    width: 30vw;
    border-radius: 40px;
    border: solid 20px black;
    padding:5px;   
    background-color: lightgrey;
}


.size{
    display:flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.pokemonImg {
    height: 200px;
}

.pokemonType{
    font-size: 1.5rem;
    border-top: solid 5px rgb(226, 3, 3);
    padding-top: 5px;
    margin-bottom: 0;
}

.description {
    padding: 30px 20px;
    font-size:1.5rem;
    border:solid 5px black;
    border-radius: 20px;
    margin:0;
    background-color: grey;
    color:azure;
}

.tiles {
    max-width: 30vw;
    height: 500px;
}

.tilesRow1, .tilesRow2, .tilesRow3 {
    display:flex;
    width: 30vw;
    height: 18vh;
    justify-content: space-between;
}

.slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot7, .slot8, .slot9 {
    display:flex;
    width: 10vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    border: solid 5px rgb(226, 3, 3);
    border-radius:20px;
    margin: 5px;
    background-color: rgb(36, 62, 85);
    color:azure;
    font-size: 1.5rem;
}

.pages{
    display: flex;
    flex-direction: row;   
}

button{
    width: 4vw;
    border-radius: 30%;
    font-weight: 500;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    padding: 0;
    
    flex: 1;
}

li {
    margin: 0px 1vw;
}
.dataSelector {
    text-align: center;
}